#content {
  background: #eee;
  overflow: hidden;
  padding-bottom: 30px;
}

#content .wrap .mustCheck .img {
  height: 26px;
  margin: 10px 0 26px 0;
  background: url(../img/must_check.png) no-repeat;
}

#content .wrap .mustCheck .container {
  overflow: hidden;
}

#content .wrap .mustCheck .container .item {
  margin-bottom: 18px;
}

#content .wrap .mustCheck .container .item img {
  width: 360px;
  height: 260px;
  float: left;
}

#content .wrap .mustCheck .container .item .info {
  width: 230px;
  height: 260px;
  float: left;
  text-align: center;
  position: relative;
  background: #fff;
}

#content .wrap .mustCheck .container .item .info .p1 {
  margin-top: 60px;
  font-size: 22px;
  color: #e93b78;
}

#content .wrap .mustCheck .container .item .info .p2 {
  color: #5a5a5a;
  font-size: 17px;
  margin-top: 10px;
}

#content .wrap .mustCheck .container .item .info .p3 {
  color: #5a5a5a;
  font-size: 13px;
  margin-top: 3px;
}

#content .wrap .mustCheck .container .item .info span {
  display: block;
  width: 108px;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: #e93b78;
  position: absolute;
  bottom: 50px;
  left: 62px;
}

#content .wrap .mustCheck .container .item .info span:hover {
  background-color: #c53265;
}

#content .wrap .mustCheck .container .odd {
  float: left;
}

#content .wrap .mustCheck .container .even {
  float: right;
}

#content .wrap .limittedOffer {
  text-align: center;
}

#content .wrap .limittedOffer .img {
  margin-bottom: 10px;
  margin-top: 34px;
  height: 26px;
  background: url(../img/limitted_offer.png) no-repeat;
}

#content .wrap .limittedOffer .title {
  font-size: 20px;
  color: #3e3e3e;
}

#content .wrap .limittedOffer .limit-item {
  display: block;
  width: 100%;
  background: #fff;
  overflow: hidden;
  margin-top: 26px;
}

#content .wrap .limittedOffer .limit-item .limit-img {
  float: left;
  position: relative;
}

#content .wrap .limittedOffer .limit-item .limit-img img {
  display: block;
}

#content .wrap .limittedOffer .limit-item .limit-img i {
  position: absolute;
  top: 12px;
  left: 18px;
  display: block;
  width: 88px;
  height: 88px;
  line-height: 88px;
  border-radius: 50%;
  background-color: #fc3f83;
  color: #fff;
  font-size: 24px;
}

#content .wrap .limittedOffer .limit-item .limit-img i b {
  font-size: 16px;
  font-style: normal;
}

#content .wrap .limittedOffer .limit-item .limit-info {
  float: right;
  width: 480px;
  margin: 40px 40px 0 0;
  text-align: left;
}

#content .wrap .limittedOffer .limit-item .limit-info .time {
  padding: 0 10px;
  background-color: #414141;
  color: #fff;
  line-height: 24px;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  padding: 0 10px;
}

#content .wrap .limittedOffer .limit-item .limit-info .effect {
  width: 100%;
  height: 120px;
  font-size: 17px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  color: #222;
}

#content .wrap .limittedOffer .limit-item .limit-info .intro {
  width: 100%;
  height: 20px;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
  margin-bottom: 20px;
}

#content .wrap .limittedOffer .limit-item .limit-info .price {
  width: 100%;
  height: 30px;
}

#content .wrap .limittedOffer .limit-item .limit-info .price .price-cur {
  font-weight: 600;
  color: #fc3f83;
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
}

#content .wrap .limittedOffer .limit-item .limit-info .price .price-cur .sign {
  font-size: 20px;
  display: block;
  margin-top: -4px;
  float: left;
}

#content .wrap .limittedOffer .limit-item .limit-info .price .price-cur .num {
  font-size: 32px;
  display: inline-block;
  float: left;
}

#content .wrap .limittedOffer .limit-item .limit-info .price .price-old {
  float: left;
  margin-top: 9px;
  margin-left: 7px;
  color: #999;
  line-height: 23px;
  font-size: 13px;
  text-decoration: line-through;
}

#content .wrap .limittedOffer .limit-item .limit-info .limit-bottom {
  height: 32px;
  width: 100%;
  margin-top: 2px;
}

#content .wrap .limittedOffer .limit-item .limit-info .limit-bottom .sold {
  width: 100px;
  height: 13px;
  line-height: 13px;
  margin-top: 16px;
  float: left;
  color: #999;
}

#content .wrap .limittedOffer .limit-item .limit-info .limit-bottom .limit-btn {
  width: 92px;
  height: 32px;
  display: block;
  float: right;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  background-color: #e93b78;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

#content .wrap .limittedOffer .more {
  margin-top: 20px;
}

#content .wrap .limittedOffer .more a {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  background: #000;
}

#content .wrap .title_ranking .ranking-header {
  background: url(../img/title_ranking.png) no-repeat;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 26px;
  width: 1200px;
  height: 26px;
}

#content .wrap .title_ranking .ranking-list .ranking-column {
  width: 382px;
  border-top: 2px solid #fc3f83;
  background-color: #fff;
  float: left;
  margin-right: 18px;
}

#content .wrap .title_ranking .ranking-list .ranking-column h2 {
  line-height: 64px;
  text-align: center;
  font-size: 22px;
  color: #111;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item {
  height: 80px;
  padding: 10px;
  position: relative;
  border-top: 1px solid #eee;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item .rank-icon {
  background: url(../img/ranking_1.png) no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -3px;
  top: -3px;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item img {
  max-width: 80px;
  max-height: 80px;
  float: left;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item .rank-item-info {
  float: right;
  width: 272px;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item .rank-item-info .rank-item-name {
  line-height: 18px;
  overflow: hidden;
  margin-top: 13px;
  font-size: 13px;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item .rank-item-info .rank-item-name a {
  color: #222;
  text-decoration: none;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item .rank-item-info .price {
  width: 100%;
  height: 20px;
  margin-top: 7px;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item .rank-item-info .price .price-cur {
  float: left;
  color: #fc3f83;
  font-size: 16px;
  line-height: 20px;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item .rank-item-info .price .price-old {
  float: left;
  margin-left: 5px;
  color: #999;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  text-decoration: line-through;
}

#content .wrap .title_ranking .ranking-list .ranking-column ul .rank-item .rank-item-info .price .item-sold {
  float: right;
  line-height: 20px;
  color: #999;
  font-size: 11.3px;
  margin-right: 10px;
}

#content .wrap .title_ranking .ranking-list:nth-child(3) {
  margin-right: 0;
}
