@charset "UTF-8";
#header .top {
  width: 100%;
  background: #ccc;
  font-size: 12px;
  background: #f2f2f2;
  line-height: 32px;
  height: 32px;
  border-bottom: 1px solid #e5e5e5;
}

#header .top .top-left {
  float: left;
}

#header .top .top-left span {
  color: #666;
}

#header .top .top-left a {
  color: #ec3e7d;
}

#header .top .top-right {
  float: right;
}

#header .top .top-right li {
  float: left;
  padding: 0 12px;
}

#header .top .top-right li:hover {
  background-color: #fff;
}

#header .top .top-right li img {
  vertical-align: middle;
}

#header .top .top-right li a {
  text-decoration: none;
  color: #666;
}

#header .top .top-right li:nth-child(1) {
  position: relative;
}

#header .top .top-right li:nth-child(1) dl {
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.6s;
  position: absolute;
  top: 32px;
  left: 0;
  padding: 0  20px;
  width: 100%;
  height: 0px;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#header .top .top-right li:nth-child(1):hover dl {
  display: block;
  height: 160px;
}

#header .top .top-right li:nth-child(1):hover dl a:hover {
  color: #ec3e7d;
}

#header .top .top-right li:nth-child(2) {
  position: relative;
}

#header .top .top-right li:nth-child(2) .carList {
  display: none;
  width: 300px;
  height: 70px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  color: #6c6c6c;
  background: #fff;
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 2;
}

#header .top .top-right li:nth-child(2) .carList .car-empty {
  padding: 10px 60px;
  line-height: 25px;
  text-align: center;
}

#header .top .top-right li:nth-child(2):hover .carList {
  display: block;
}

#header .top .top-right li:last-child {
  position: relative;
}

#header .top .top-right li:last-child .weibo .weiboma {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#header .top .top-right li:last-child .weibo:hover .weiboma {
  display: block;
  width: 100px;
  height: 100px;
  z-index: 5;
}

#header .top .top-right li:last-child .weixin .weixinma {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#header .top .top-right li:last-child .weixin:hover .weixinma {
  display: block;
  width: 100px;
  height: 100px;
  z-index: 5;
}

#header .center {
  width: 100%;
  background: #fff;
  position: relative;
}

#header .center .empty {
  height: 20px;
}

#header .center .log a {
  display: block;
  width: 170px;
  height: 42px;
}

#header .center .search {
  width: 500px;
  height: 66px;
  position: absolute;
  left: 400px;
  top: 21px;
}

#header .center .search .search-input {
  background-color: #ec3e7d;
  width: 346px;
  height: 36px;
  float: left;
}

#header .center .search .search-input input {
  position: relative;
  left: 3px;
  top: 3px;
  border: none;
  outline: 0;
  width: 330px;
  height: 24px;
  padding: 3px 5px;
}

#header .center .search .search-btn {
  border: none;
  width: 90px;
  height: 36px;
  line-height: 36px;
  color: white;
  font-family: inherit;
  background-color: #ec3e7d;
  outline: 0;
  cursor: pointer;
}

#header .center .search .hot-keyword {
  width: 400px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  clear: both;
  text-align: left;
}

#header .center .search .hot-keyword a {
  text-decoration: none;
  color: #999;
  border-left: 1px solid #999;
  line-height: 14px;
  height: 14px;
  display: inline-block;
  padding: 0 10px;
  margin-left: -10px;
  margin-right: 10px;
}

#header .bottom {
  margin-top: 40px;
}

#header .bottom .wrap .all-category {
  background: #333;
  float: left;
  position: relative;
  width: 190px;
  height: 36px;
  z-index: 50;
}

#header .bottom .wrap .all-category .category-header {
  color: #fff;
  font-size: 16px;
  position: absolute;
  width: 190px;
  -webkit-box-sizing: border-box;
  padding-left: 16px;
  top: 0;
  height: 36px;
  line-height: 36px;
  cursor: auto;
}

#header .bottom .wrap .all-category .category-header .category-header-icon {
  width: 16px;
  height: 20px;
  margin-top: 7px;
  float: left;
  margin-right: 17px;
}

#header .bottom .wrap .all-category .category-header .category-header-icon .line {
  display: block;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #fff;
}

#header .bottom .wrap .all-category .category-ul {
  position: absolute;
  top: 36px;
  left: 0;
  background: #fa3778;
  z-index: 100;
}

#header .bottom .wrap .all-category .category-ul .category-li {
  color: #3e3e3e;
  padding: 11px 14px;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  width: 162px;
  border-bottom: 1px dotted #fe7dab;
  position: relative;
}

#header .bottom .wrap .all-category .category-ul .category-li:hover .more-content {
  display: block;
}

#header .bottom .wrap .all-category .category-ul .category-li .category-item {
  float: left;
  padding-left: 35px;
  height: 30px;
  background-image: url(../img/分类.png);
  overflow: hidden;
  background-repeat: no-repeat;
}

#header .bottom .wrap .all-category .category-ul .category-li .more-category {
  display: block;
  float: right;
  font-size: 20px;
}

#header .bottom .wrap .all-category .category-ul .category-li .clear {
  height: 0;
  font-size: 0;
  clear: both;
}

#header .bottom .wrap .all-category .category-ul .category-li:hover {
  background: #fff;
}

#header .bottom .wrap .all-category .category-ul .category-li:hover .category-item {
  color: #fa3778;
}

#header .bottom .wrap .all-category .category-ul .category-li:hover .category-item:hover {
  color: #333;
}

#header .bottom .wrap .all-category .category-ul .category-li:hover .more-category {
  color: #333;
}

#header .bottom .wrap .all-category .category-ul .category-li:hover .category-item {
  background-image: url(../img/分类hover.png);
}

#header .bottom .wrap .all-category .category-ul .category-li:nth-child(1) .category-item {
  background-position: left -5px;
}

#header .bottom .wrap .all-category .category-ul .category-li:nth-child(2) .category-item {
  background-position: left -40px;
}

#header .bottom .wrap .all-category .category-ul .category-li:nth-child(3) .category-item {
  background-position: left -71px;
}

#header .bottom .wrap .all-category .category-ul .category-li:nth-child(4) .category-item {
  background-position: left -104px;
}

#header .bottom .wrap .all-category .category-ul .category-li:nth-child(5) .category-item {
  background-position: left -136px;
}

#header .bottom .wrap .all-category .category-ul .category-li:nth-child(6) .category-item {
  background-position: left -172px;
}

#header .bottom .wrap .all-category .category-ul .category-li:nth-child(7) .category-item {
  background-position: left -203px;
}

#header .bottom .wrap .all-category .category-ul .category-li:nth-child(8) .category-item {
  background-position: left -237px;
}

#header .bottom .wrap .all-category .category-ul .category-li:last-child {
  border-bottom: 1px solid #fe7dab;
}

#header .bottom .wrap .all-category .category-ul .category-li .more-content {
  display: none;
  z-index: 101;
  border: 1px solid #ff7dab;
  position: absolute;
  top: 0;
  left: 190px;
  width: 280px;
  padding: 0px 30px 40px 30px;
  background: #fff;
}

#header .bottom .wrap .all-category .category-ul .category-li .more-content a {
  display: inline-block;
  font-size: 12px;
  line-height: 10px;
  margin: 0 4px;
  text-decoration: none;
  color: #888;
}

#header .bottom .wrap .all-category .category-ul .category-li .more-content a:hover {
  color: #fa3778;
}

#header .bottom .wrap .all-category .category-ul .category-li .more-content a.red {
  color: #fa3778;
}

#header .bottom .wrap .all-category .category-ul .category-li .more-content h4 {
  padding-top: 22px;
}

#header .bottom .wrap .all-category .category-ul .category-li .more-content h4 a {
  font-size: 14px;
  font-width: 900;
  color: #444;
}

#header .bottom .wrap .all-category .category-ul .category-li .more-content :nth-child(1) {
  text-indent: 33px;
  margin-left: -31px;
  background: #fff;
}

#header .bottom .wrap .minute-category {
  float: left;
  height: 36px;
  line-height: 36px;
  position: relative;
  margin-left: 20px;
}

#header .bottom .wrap .minute-category li {
  float: left;
  display: inline-block;
  overflow: hidden;
  padding: 0 5px;
  text-align: center;
}

#header .bottom .wrap .minute-category li.nav-item a:hover {
  color: #ec3e7d;
}

#header .bottom .wrap .minute-category li .nav-hot {
  display: inline-block;
  width: 25px;
  height: 16px;
  background: url(../img/hot.png) no-repeat;
}

#header .bottom .wrap .minute-category li a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: #111;
  font-size: 16px;
}

#header .bottom .wrap .minute-category li a .i-confont {
  display: inline-block;
  transform: rotate(-130deg);
  font-size: 12px;
}

#header .bottom .wrap .minute-category li.nav-sep {
  width: 20px;
}

#header .bottom .wrap .minute-category li.nav-sep a {
  color: #eee;
}

#header .bottom .wrap .clear {
  height: 0;
  font-size: 0;
  clear: both;
}
